<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Conferencing</title>
        <link rel="shortcut icon" href="./static/l.png" type="image/x-icon" sizes="any">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/space copy.css') }}">
</head>
<body>
    <div class="header">
        <div class="nav">
            <h1>Let's<span>Meet</span>Together</h1>
            <ul>
                <li><a href="/"><span>Home</span></a></li>
                <li><a href="/about"><span>About</span></a></li>
                <li><a href="/contact"><span>Contact</span></a></li>
                <li><a href="/chat"><span>Chat</span></a></li>
            </ul>
        </div>
        <div class="main__text">
            <h1>Hey!</h1>
            <p >Welcome to Let's Meet Together, your go-to platform for secure, customizable, and feature-rich video conferencing. At Let's Meet Together, we believe in breaking barriers and fostering seamless communication worldwide. Our mission is to empower individuals, teams, and organizations with the tools they need to connect, collaborate, and succeed, regardless of geographical constraints.</p>
            <br>
            <p>At Let's Meet Together, we are committed to pushing the boundaries of online communication while upholding the highest standards of integrity and security. We continuously strive to innovate and improve, listening to feedback from our users and incorporating the latest advancements in technology.</p>
            <br>
            <p>Join us on our journey to revolutionize the way we connect and collaborate online. Experience the power of Let's Meet Together today and discover a new era of video conferencing.</p>
        </div>
    </div>
</body>
</html>