<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Conferencing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/space.css') }}">
</head>
<body>
    <div class="header">
        <div class="nav">
            <h1>My<span>Website</span></h1>
            <ul>
                <li><a href="/"><span>Home</span></a></li>
                <li><a href="/about"><span>About</span></a></li>
                <li><a href="/contact"><span>Contact</span></a></li>
            </ul>
        </div>
        <div class="mx-auto" style="width: 500px;">
            <span>
                <h1><div class="d-flex justify-content-center mt-5">Live<span>Sessions</span></div></h1>
                <div class="d-flex justify-content-center">Likh de kuch toh</div>
                <div class="d-flex justify-content-center">ye abhi ek chote se dabe k andar h.. agar tujhe iske lenght badhani h toh iski parent div main width wali pixel badha de.. is dabbe ki width filhal itni hi hai jitni is text ki dikh rahi h</div>
                <div class="d-flex justify-content-center">bleh</div>
                <div class="d-flex justify-content-center">you can increase the pixels more from 500 to as much u want bitch</div>
            </span>
        </div>
    </div>
</body>
</html>