<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./static/styles/base.css">
        <link rel="stylesheet" href="./static/styles/main.css">
        <link rel="stylesheet" href="./static/styles/footer.css">
        <link rel="stylesheet" href="./static/styles/space copy.css">
        
        <link rel="shortcut icon" href="./static/l.png" type="image/x-icon" sizes="any">

        <title>Let's Meet Together</title>
    </head>

    <body>
        <div class="header">
            <div class="nav">
                <h1>Let's<span>Meet</span>Together</h1>
                <ul>
                    <li><a href="/"><span>Home</span></a></li>
                    <li><a href="/about"><span>About</span></a></li>
                    <li><a href="/contact"><span>Contact</span></a></li>
                </ul>
            </div>
            <main>
                <div class="title"><span>Kuch problem hai?</span></div>
                <div class="title-info">Sampark karein!</div>
                
                <form action="" method="POST" class="form">
                    <div class="input-group">
                        <input type="text" name="first_name" id="first-name" placeholder="First name">
                        <label for="first-name">First name<imp>*</imp></label>
                    </div>
                    
                    <div class="input-group">
                        <input type="text" name="last_name" id="last-name" placeholder="Last Name">
                        <label for="last-name">Last name<imp>*</imp></label>
                    </div>
                    
                    <div class="input-group">
                        <input type="email" name="email" id="email" placeholder="email">
                        <label for="email">e-mail<imp>*</imp></label>
                    </div>
                    
                    <div class="textarea-group">
                        <textarea name="message" id="message" rows="5" placeholder="Message"></textarea>
                        <label for="message">Message<imp>*</imp></label>
                    </div>
                    
                    <div class="button-div">
                        <button type="submit">Send</button>
                    </div>
                </form>
            </main>
            
            <footer>
                <a href="#" target="_blank"><img class="social-media-img" src="./static/img/facebook.svg" alt="Facebook"></a>
                <a href="#" target="_blank"><img class="social-media-img" src="./static/img/github.svg" alt="GitHub"></a>
                <a href="#" target="_blank"><img class="social-media-img" src="./static/img/instagram.svg" alt="Instagram"></a>
                <a href="https://www.linkedin.com/in/prashant-kumar-singh-2a3478279/" target="_blank"><img class="social-media-img" src="./static/img/linkedin.svg" alt="LinkedIn"></a>
                <a href="#" target="_blank"><img class="social-media-img" src="./static/img/twitter.svg" alt="Twitter"></a>
            </footer>
        </div>
    </body>
</html>