<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Conferencing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/space.css') }}">
</head>
<body>
    <div class="header">
        <div class="nav">
            <h1>My<span>Website</span></h1>
            <ul>
                <li><a href="/"><span>Home</span></a></li>
                <li><a href="/about"><span>About</span></a></li>
                <li><a href="/contact"><span>Contact</span></a></li>
            </ul>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='styles/rocket2.png') }}" alt="nahi mila rocket">
        </div>
        <img src="{{ url_for('static', filename='styles/./astronaut.png') }}" alt="" class="shake">
        <div class="main">
            <div class="picture">
                <img src="{{ url_for('static', filename='styles/./astronaut.png') }}" alt="">
            </div>
            <div class="main__text">
                <h1>Live <span>Sessions</span></h1>
                <p>Start your video conference now!</p>
                <button onclick="startVideoConference()" class="btn">Start Video Conference 🚀</button>
                <script src="https://meet.jit.si/external_api.js"></script>
                <script src="{{ url_for('static', filename='script.js') }}">startVideoConference()</script>
                
            </div>
        </div>
    </div>
</body>
</html>